{% extends "base.html" %}
{% from "_render_field.html" import render_field %}
{% block title %}Resetar Password{% endblock %}

{% block body %}
<div style="margin-left: 2.5em; font-size: 22px;" class="page-header">
<br>
    <h3>Esqueceu-se da password?</h3>
   <p>
       <u>Insira o seu email abaixo:</u>
   </p>
   <form method="POST" action="">
    {{ form.hidden_tag() }}
    <fieldset class="form-group">
        <legend class="border-bottom mb-4">Resetar Password</legend>
        <div class="form-group">
            {{ form.email.label(class="form-control-label") }}
            {% if form.email.errors %}
                {{ form.email(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.email.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.email(class="form-control form-control-lg") }}
            {% endif %}
        </div>
    </fieldset>
    <div class="form-group">
        {{ form.submit(class="btn btn-outline-info") }}
    </div>
</form>
  <br>
  <p style="font-weight: bolder;">
    Não recebeu o email de reposição? 
    <a style="font-weight: bolder;" href="{{ url_for('resend_confirmation_password') }}"><u>Clique Aqui</a></u>
    <p style="font-weight: bolder;">
    Caso não queira repor a password de momento e deseja prosseguir para o website: 
    <a style="font-weight: bolder;" href="{{ url_for('index') }}"><u>Clique Aqui</a></u>
   </p>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
  
</div>
{% endblock %}