
{% block head %}
<!DOCTYPE html>
<html lang="en">
    
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">

    <title>GamePriceControl</title>

    <!-- Loading third party fonts -->
    <link href="http://fonts.googleapis.com/css?family=Roboto:100,300,400,700|" rel="stylesheet" type="text/css">
    <link href="fonts/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="fonts/lineo-icon/style.css" rel="stylesheet" type="text/css">

    <!-- Loading main css file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

   
</head>
{% endblock %}
 

<body class="slider-collapse">
    
    <div id="site-content">
        
        <div class="site-header">
            <div class="container">
                <a href="{{ url_for('index')}}" id="branding"></a> 
                    <img src="logo.png" alt="" class="logo">
                    <div class="logo-text">
                        <h1 class="site-title">GamePriceControl</h1>
                        <small class="site-description">Pesquisa o preço dos teus jogos!</small>
                    </div>
                </a> <!-- #branding -->

                <div class="right-section pull-right">
                    <a href="{{ url_for('gameslist')}}" class="cart"><i class="icon-cart"></i> Lista de Jogos</a>
                    <a href="{{url_for('login')}}" class="login-button">Login/Registo</a>
                </div> <!-- .right-section -->

                <div class="main-navigation">
                    <button class="toggle-menu"><i class="fa fa-bars"></i></button>
                    <ul class="menu">
                        <li class="menu-item home current-menu-item"><a href="{{ url_for('index')}}"><i class="icon-home"></i></a>
                        </li>
                        <li class="menu-item"><a href="{{ url_for('products')}}">Playstation</a></li>
                        <li class="menu-item"><a href="{{ url_for('products')}}">XBOX</a></li>
                        <li class="menu-item"><a href="{{ url_for('products')}}">PC</a></li>
                        <li class="menu-item"><a href="{{ url_for('products')}}">Nintendo</a></li>


                    </ul> <!-- .menu -->
                    <div class="search-form">
                        <label><img src="{{url_for('static', filename='icons/icon-search.png')}}"></label>
                        <input type="text" placeholder="Search...">
                    </div> <!-- .search-form -->

                    <div class="mobile-navigation"></div> <!-- .mobile-navigation -->
                </div> <!-- .main-navigation -->
            </div> <!-- .container -->
        </div> <!-- .site-header -->
       
        {% block body %} 
        {% endblock %}




    <div class="site-footer">
      
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <div class="widget">
                        <h3 class="widget-title">Information</h3>
                        <ul class="no-bullet">
                            <li><a href="#">Site map</a></li>
                            <li><a href="#">About us</a></li>
                            <li><a href="#">FAQ</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div> <!-- .widget -->
                </div> <!-- column -->
                <div class="col-md-2">
                    <div class="widget">
                        <h3 class="widget-title">Consumer Service</h3>
                        <ul class="no-bullet">
                            <li><a href="#">Secure</a></li>
                            <li><a href="#">Shipping &amp; Returns</a></li>
                            <li><a href="#">Shipping</a></li>
                            <li><a href="#">Orders &amp; Returns</a></li>
                            <li><a href="#">Group Sales</a></li>
                        </ul>
                    </div> <!-- .widget -->
                </div> <!-- column -->
                <div class="col-md-2">
                    <div class="widget">
                        <h3 class="widget-title">My Account</h3>
                        <ul class="no-bullet">
                            <li><a href="#">Login/Register</a></li>
                            <li><a href="#">Settings</a></li>
                            <li><a href="#">Cart</a></li>
                            <li><a href="#">Order Tracking</a></li>
                            <li><a href="#">Logout</a></li>
                        </ul>
                    </div> <!-- .widget -->
                </div> <!-- column -->
                <div class="col-md-6">
                    <div class="widget">
                        <h3 class="widget-title">Junte-se á nossa newsletter</h3>
                        <form action="#" class="newsletter-form">
                            <input type="text" placeholder="Enter your email...">
                            <input type="submit" value="Subsribe">
                        </form>
                    </div> <!-- .widget -->
                </div> <!-- column -->
            </div><!-- .row -->
            Ícones feitos por <a href="https://www.flaticon.com/br/autores/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/br/" title="Flaticon"> www.flaticon.com</a>
            <div class="colophon">
                <div class="copy">Copyright 2014 Company name. Designed by Themezy. All rights reserved.</div>
                <div class="social-links square">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-google-plus"></i></a>
                    <a href="#"><i class="fa fa-pinterest"></i></a>
                </div> <!-- .social-links -->
            </div> <!-- .colophon -->
        </div> <!-- .container -->
    </div> <!-- .site-footer -->
  
    </div>
    <script src="{{ url_for('static', filename='js/jquery-1.11.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/plugins.js') }}"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    <script src="{{ url_for('static', filename='js/login.js') }}"></script>
  
    
   
</body>

</html>