{% block content %}
<div id="ordenargenero" class="modal fade" role="dialog" enctype="multipart/form-data">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Ordenar por Género</h4>
      </div>
      <div class="modal-body">
        <form action="{{url_for('ordenargenero')}}" method="POST">
          <div class="form-group">
                   
        <label style="font-weight: bolder;">Game Genre:</label>
        <br>
          {% for row in genres %}
          <input type="checkbox" id="id_{{row.name_gen}}" name="genres">
          <label for="id_{{row.name_gen}}">{{row.name_gen}}  ||</label>
          {% endfor %}   
        <br>
        <br>
     
                 
          <div class="form-group">
            <button class="btn btn-primary" type="submit">Ordenar</button>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}